/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;900&display=swap"); */

/* @import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;600;800&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;700;900&display=swap");

:root {
	--colorGray900: #171923;
	--colorGray700: #2d3748;
	--colorGray500: #718096;
	--colorGray400: #a0aec0;
	--colorGray300: #cbd5e0;
	--colorGray100: #edf2f7;
	--colorWhite: #fff;
	--colorBlue: #0066ff;

	--fontWeightBlack: 900;
	--fontWeightBold: 700;
	--fontWeightMedium: 500;

	--fontSize1: 3.052rem;
	--fontSize2: 2.441rem;
	--fontSize3: 1.953rem;
	--fontSize4: 1.563rem;
	--fontSize5: 1.25rem;
	--fontSize6: 1rem;
}

::placeholder {
	color: var(--colorGray500);
}

* {
	/* font-family: "Inter", sans-serif;
	font-family: 'Eczar', serif; */
	font-family: "Mulish", sans-serif;
}

body {
	color: var(--colorGray900);
}

/* TYPOGRAPHY */

html {
	font-size: 17px; /* Root font-size */
}

/* NAV */

.nav {
	display: flex;
	justify-content: space-between;
}

.logo h1 {
	font-weight: var(--fontWeightBlack);
	font-size: var(--fontSize5);
	letter-spacing: -1px;
	padding: 0;
	margin: 0;
}

/* CONTENT */

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.container__content {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	max-width: 320px;
}

.artwork {
	width: 100%;
}

.bid-controls {
	display: flex;
	flex-direction: column;
	gap: 16px;
	/* width: 100%; */
}

.bid-input {
	font-size: var(--fontSize6);
	text-align: center;
	padding: 12px;
	border: none;
	-webkit-box-shadow: 0px 0px 0px 1px var(--colorGray400);
	-moz-box-shadow: 0px 0px 0px 1px var(--colorGray400);
	box-shadow: 0px 0px 0px 1px var(--colorGray400);
	-webkit-appearance: none;
	border-radius: 4px;
}

/* BUTTONS */

.connect-wallet-btn {
	font-weight: var(--fontWeightBlack);
	border: none;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	background: linear-gradient(
		94.95deg,
		#ffe701 -1.41%,
		#fa51d3 34.12%,
		#10d9ed 70.19%,
		#52ff53 101.95%
	);
	border-radius: 10px;
	color: #fff;
	padding: 8px 12px;
	cursor: pointer;
	transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;
	transform: scale(1);
}

/* .plug-connect-btn:hover {
	opacity: 0.94;
	transform: scale(1.02);
} */

.bid-btn {
	font-size: var(--fontSize6);
	font-weight: var(--fontWeightBlack);
	background-color: var(--colorGray900); /* Green */
	border: none;
	color: var(--colorWhite);
	padding: 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
}

/* .active {
	background-color: var(--colorGray900);
} */

/* LINKS */

.link {
	text-decoration: none;
	color: var(--colorGray900);
}

.error-msg-div {
	text-align: center;
}

.body-text {
	font-weight: var(--fontWeightBold);
	line-height: 175%;
}

.center {
	text-align: center;
}

.span-gray500 {
	color: var(--colorGray500);
}

b {
	font-weight: var(--fontWeightBlack);
}
