/* TYPOGRAPHY */

body {
	font-family: sans-serif;
}

h1 {
	padding: 0;
	margin: 0;
}

/* NAV */
.nav {
	display: flex;
	justify-content: space-between;
}

/* CONTENT */

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.container__content {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 16px;
	margin: 0 auto;
	max-width: 320px;
}

.artwork {
	width: 100%;
}

.bid-controls {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.bid-input {
	text-align: center;
	/* width: 50%; */
}

/* BUTTONS */

.connect-wallet-btn {
	border: none;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
	background: linear-gradient(
		94.95deg,
		#ffe701 -1.41%,
		#fa51d3 34.12%,
		#10d9ed 70.19%,
		#52ff53 101.95%
	);
	border-radius: 10px;
	color: #fff;
	padding: 6px 16px;
	cursor: pointer;
	transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;
	transform: scale(1);
}

/* .plug-connect-btn:hover {
	opacity: 0.94;
	transform: scale(1.02);
} */

/* .bid-btn {
	width: 50%;
} */
